.job-card{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 5px 5px var(--color-neutral-2);
    padding-left: .5rem;
    margin: 2rem 15rem;  
}

.job-card:hover{
    background-color: var(--color-primary);
}

.job-card__logo{
    margin-right: 2rem;
}

.job-card__content{
    background-color: white;
    display: flex;
    /* align-items: center; */
    padding: 2.5rem 2.5rem 2.5rem 2rem;
}

job-card__left-border{
    background-color: var(--color-primary);
    width: 5px;
}


.job-card__company{
    display: flex;
    align-items: center;
}

.job-card h4 {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.job-card__badge{
    color: white;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0.5rem 1rem 0.2rem 1rem;
    border-radius: 60px;
}

.job-card__badge--new{
    background-color: var(--color-primary);
}

.job-card__badge--featured{
    background-color: var(--color-neutral-4);
}

.job-card__details{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-card__title{
    color: var(--color-neutral-4);
    /* display: block; */
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
    text-decoration: none;
}

.job-card__title:hover{
    cursor: pointer;
    color: var(--color-primary);
}

.job-card__info{
    color: var(--color-neutral-3);
    font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
    .job-card{
       margin: 2rem 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .job-card{
       margin: 4rem 1rem;
    }

    .job-card__content{
       flex-direction: column;
        padding: 2.5rem 2.5rem 2.5rem 2rem;
    }

    .job-card__filters{
        border-top: 1px solid var(--color-neutral-3);
        padding-top: 1rem;
        margin-top: 1rem;
    }

    .job-card__logo {
        position: relative;
    }

    .job-card__logo img{
        height: 50px;
        width: 50px;
        position: absolute;
        top: -50px;
    }
}