:root{
  --color-primary: hsl(180, 29%, 50%); /*Desaturated Dark Cyan */
  --color-neutral-1:hsl(180, 52%, 96%); /*Light Grayish Cyan (Background)*/
  --color-neutral-2:hsl(180, 31%, 95%); /*Light Grayish Cyan (Filter Tablets)*/ 
  --color-neutral-3: hsl(180, 8%, 52%); /*Dark Grayish Cyan*/
  --color-neutral-4: hsl(180, 14%, 20%); /*Very Dark Grayish Cyan*/
  --margin-body-large: 25rem;
  --margin-body-medium: 15rem;
}



*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /*make 1rem = 10px so that calculations are easier */
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem; /* 15px; */
  color: var(--color-neutral-4);
}
